@CHARSET "ISO-8859-1";

h1 {
	font-size: 22px;
	color: blue;
	font-style: italic;
}

.general-table{   
	border-collapse:collapse;
}
 
.general-table-header{
	text-align:left;
	background:none repeat scroll 0 0 #E5E5E5;
	border-bottom:1px solid #BBBBBB;
	padding:10px;
}
 
.general-table-odd-row{
	text-align:left;
	background:none repeat scroll 0 0 #FFFFFFF;
	border-top:1px solid #BBBBBB;
}
 
.general-table-even-row{
	text-align:left;
	background:none repeat scroll 0 0 #F9F9F9;
	border-top:1px solid #BBBBBB;
}

.edit-grid-label-col{ 
	width: 120px;
}

.slide-text-field{
/*     white-space: pre; */
	width: 400px;
	max-width: 400px;
}

.slide-header-field{
	width: 400px;
	max-width: 400px;
	font-weight: bold; 
	font-size: 18px;
}	

.slide-subheader-field{
	width: 400px;
	max-width: 400px;
	font-weight: bold; 
	font-size: 16px;
}

.slide-table-col-button {
	width: 80px;
	vertical-align: top
}

.slide-table-col-text {
	width: 400px;
	max-width: 400px
}

.slide-table-button {
	width: 50px;
}
